{% extends 'base.html' %}
{% block content %}






<section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <div class="mx-auto max-w-3xl">
       
        
        <div class="mt-8">
          {% if cart_items['items']|length != 0 %}
          <ul class="space-y-4">
            {% for product in cart_items['items'] %}
            {% set count = loop.index %}

            <li class="flex items-center gap-4">
                
              <img
               src="{{  photos[product['sku']]  }}"
                alt=""
                class="h-16 w-16 rounded object-contain "
              />
  
              <div>
                <h3 class="text-sm text-gray-900"> {{product['name']}} </h3>
  
                <dl class="mt-0.5 space-y-px text-[10px] text-gray-600">

  
                  <div>
                    <dt class="inline text-xs">Total price: </dt>
                    <dd class="inline text-xs">{{product['price_for_qty']  | round(2) }} € </dd>
                  </div>
                  <dd class="inline text-xs"> Quantity: {{product['quantity']}}  </dd>
                </dl>
              </div>
  
              <div class="flex flex-1 items-center justify-end gap-2">
                
                  
                
  
                <form method="POST" action="/remove_from_cart">
                <button class="text-gray-600 transition hover:text-red-600" type ="submit" >
                  <input type="hidden" name="sku_to_remove" value="{{product['sku']}}">
                  <span class="sr-only">Remove item</span>
  
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-4 w-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                    />
                  </svg>
                </button>
                </form>
              </div>
            </li>
            {% endfor %}
          </ul>

          <div class="mt-8 flex justify-end border-t border-gray-100 pt-8">
            <div class="w-screen max-w-lg space-y-4">
              <dl class="space-y-0.5 text-sm text-gray-700">
                
  
                <div class="flex justify-between !text-base font-medium">
                  <dt>Total: </dt>
                  <dd> {{cart_items['total_price'] | round(2)}} € </dd>
                </div>
              </dl>
  
  
              <div class="flex justify-end">
                <a
                  href="/checkout"
                  class="block rounded bg-indigo-500 px-5 py-3 text-sm transition hover:bg-gray-600"
                >
                  Checkout
                </a>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="mt-8">
          <img src="{{ url_for('static', filename='images/sad.png') }}" alt="" class="h-64 w-64 mx-auto p-4" />
          <p class="text-center text-gray-600">Your cart is empty, browse our products and order something! </p>
        
      </div>
      {% endif %}
    </div>
  </section>

{% endblock %}