<!doctype html>
<title>{% block title %}{% endblock %} - Bank </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/dist/output.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
<script src="../node_modules/flowbite/dist/flowbite.min.js"></script>

{% if page_title!="login": %}
<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <a href="{{ url_for('homepage') }}" aria-current="page">
            <img class="h-8 w-8" src="/static/images/armazem.png" alt="Your Company">
          </a>
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            {% set pages = {
              'homepage': 'Homepage',
              'customers': 'Customers',
              'products': 'Products',
              'suppliers': 'Suppliers',
              'order' : 'Place an Order',
              'orders': 'My orders',
            } %}
          
            {% for page, label in pages.items() %}
              {% if (page == 'orders' or page == 'order') and 'customer' not in session %}
                <!-- Não exibir o link "My Orders" se o cliente não estiver na sessão -->
                {% elif current_page == page %}
                  {% if page == 'customers' %}
                    <a href="{{ url_for(page, page=1, per_page=5) }}" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">{{ label }}</a>
                  {% else %}
                    <a href="{{ url_for(page) }}" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">{{ label }}</a>
                  {% endif %}
                {% else %}
                  {% if page == 'customers' %}
                    <a href="{{ url_for(page, page=1, per_page=5) }}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">{{ label }}</a>
                  {% else %}
                    <a href="{{ url_for(page) }}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">{{ label }}</a>
                  {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      {% if 'customer' in session %}
      <!-- shopping cart for order page-->
      <div class="relative ml-3">
        <a href="{{ url_for('cart') }}">

          <img class="h-8 w-8 cursor-pointer" src="/static/images/shopping-cart.png" alt="Shopping Cart">
          <div
            class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2 dark:border-gray-900">
            {{cart_items['total_items']}} </div>

        </a>
      </div>
      {% endif %}

    </div>
  </div>
</nav>

{% endif %}

<section class="content">
  {%if page_title!='login': %}
  {% block header %}
  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">{{ page_title }}</h1>
    </div>
  </header>
  {% endblock %}
  {% endif %}
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<!-- Path: db-workspace/app/templates/base.html -->